<div class="row">
     <div id="saved-notes">
           
     </div>
      {{!-- <form class="col s12">
            <div class="row">
                  <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="note-input">Type note here</label>
                  </div>
                  <a class="btn note-btn" id="savenote" data-id=" {{this._id }}">Save Note</a>
            </div>
      </form> --}}
</div>