<div class="row">
      <div>
            {{#each notes}}
            {{#if notes}}
            <ul>
                  <li id="saved-notes" class="center-block">{{ this.body }}</li>

            </ul>
            {{/if}}
            {{/each}}
      </div>
</div>