<div id="home">
  <nav>
    <div class="nav-wrapper  #263238 blue-grey darken-4">
      <a href="#!" class="brand-logo"> Mongo Runners</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn">Button</a></li>
        <li><a class="waves-effect waves-light btn">Button</a></li>
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">Saved Articles</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Home</a></li>
    <li><a href="badges.html">Saved Articles</a></li>
  </ul>
  <div id="background">
    <img class="responsive-img" src="../images/runnergirl.jpg">
    <div class="caption center-align">
      <h1>{{title}}</h1>
      <h4>Runner's World Top Headlines</h4>
    </div>
  </div>
  <br>
  <div class="container">

    <div id="wrapper">
      <div id="articles"></div>
      <div id="notes"></div>
    </div>
  </div>
</div>