*{
    font-family: 'Volkhov', serif;
}
p {
  line-height: 1.75rem;
}
body{
  background-color: rgb(241, 239, 239);

}
.sidenav-trigger {
  color: #26a69a;
}
.parallax-container .section {
width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.card{
    overflow: hidden;
}
.saved-card, .article-card{
  height: 225px;
}
.saved-img, .article-img{
  height: 225px;
  width: 300px;
  object-fit: cover;
}
a:hover {
color: darkgray !important;
}
#notes{
  padding: 25px;
}